{% extends 'base.html' %}
{% block content %}
    {% load tailwind_filters %}
    <section class="section" style="margin: auto; ">
     <form method="POST" enctype="multipart/form-data">
     {% csrf_token %}
     {{ form|crispy }}
     <button type="submit" class="btn btn-primary">Upload</button>
      </form>
      </section>

    --------------------------------------
    <table>
     <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">link</th>
    </tr>
    </thead>
    <tbody>
    {% for pic in upfiles %}
      <tr>
       <td>{{ pic.file.name }}</td>
       <td>{{ pic.file.url }}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}