<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Image Upload {% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
  <div class="container"  style="display: inline-flex">

          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          <a class="nav-link" href="{% url 'upload' %}">Upload&List</a>

             {% if request.user.is_authenicated %}
              <span>{{ request.user }}</span>
             {% else %}
              <p>You are a guest</p>
              {% endif %}

            {% if request.user.is_authenicated %}
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
             {% endif %}


    </div>
    {% block content %}
    {% endblock %}
</body>
</html>